.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form label {
    align-self: flex-start;
    margin-top: 1rem;
}

.form input {
    width: 500px;
    height: 40px;
    font-size: 16pt;
    padding: 0 1rem;
    outline: none;
}

.form button {
    padding: 20px;
    border: none;
    margin: 1rem;
    background-color: #4caf50;
    color: white;
    font-size: 16pt;
    cursor: pointer;
    border-radius: 5px;
    transition: ease-in 0.2s;
}

.form button:hover {
    background-color: #62dd66;
}

.employees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employees h2 {
    margin-top: 1rem;
}

.employees button {
    padding: 20px;
    border: none;
    margin: 1rem;
    background-color: #4c70af;
    color: white;
    font-size: 16pt;
    cursor: pointer;
    border-radius: 5px;
    transition: ease-in 0.2s;
}

.employees button:hover {
    background-color: #6799ef;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container tr:nth-child(even) {
    background-color: #dddddd;
}

.table-container td,
.table-container th {
    width: 200px;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
